name: healthcheck

on:
  push:
    branches:
      - master
  # schedule:
  #   - cron: '0 12 * * *'

jobs:
  healtcheck:
    runs-on: ubuntu-20.04
    steps:
      - name: Check the deployed service URL
        uses: jtalk/url-health-check-action@v2
        with:
          url: https://fullstackopen-pokedex-2022.herokuapp.com/health
          max-attempts: 3
          retry-delay: 5s
